[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RFclust"]
	path = RFclust
	url = https://github.com/cran/RFclust
[submodule "pRF"]
	path = pRF
	url = https://github.com/cran/pRF
